
::-webkit-scrollbar {
    display: none;
}

html {
    scrollbar-width: none;
}

body {
    -ms-overflow-style: none;
}

.active-link {
    color: red; 
    text-decoration: underline;
    text-decoration-thickness: 3px;
    transition: all 0.3s ease-in-out;
}

.active-link:hover {
    text-decoration-thickness: 5px;
}

.icon {
    color: red;
    transition: color 0.3s ease;
}

.icon:hover {
    color: white;
    background-color: #273036;
}
