body {
    overflow-x: hidden;
    /* background: #E8E8E8; */
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-thumb {
    background: red;
    border-radius: 50px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

html {
    scrollbar-color: red #f1f1f1;  
    scrollbar-width: thin;
}
.active-link {
    color: red; /* O cualquier otro color que prefieras */
    text-decoration: underline;
    text-decoration-thickness: 3px;
    transition: all 0.3s ease-in-out;
}

.active-link:hover {
    text-decoration-thickness: 5px;
}
    